.site-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 26px 0 0;
    background-color: transparent;
    z-index: 10;
}

.site-header-global {
    padding: 26px 0 85px;
    position: static;
}

.site-header__inner {
    display: flex;
    align-items: center;
}

.logo {
    display: inline-block;
}

.logo__mobile {
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar__list {
    @include unlist;
    display: flex;
    align-items: center;
}

.navbar__item + .navbar__item {
    margin-left: 50px;
}

.navbar__link {
    padding: 5px 0;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFF !important;
}

.black {
    color: #424242 !important;
}

.navbar__link-acktive {
    border-bottom: 1px solid #D8B152;
}

.burger {
    display: none;
    margin-left: auto;
    border: none;
    background-color: transparent;
}

@media only screen and (max-width:576px) {
    .logo__img {
        display: none;
    }

    .logo__mobile {
        display: block;
    }
    
    .navbar {
        display: none;
    }

    .burger {
        display: block;
    }
}