.public {
    padding: 0 0 140px;
}

.public__title {
    margin: 0 0 40px;
    font-weight: 600;
    font-size: 46px;
    line-height: 63px;
    color: #424242;
}

.public__content {
    padding: 40px 0 50px;
    padding-right: 30px !important;
    border-bottom: 1px solid #AEA38B;
}

.bl {
    padding-left: 40px;
    border-left: 1px solid #AEA38B;
}

.public__subtitle {
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    color: #424242;
}

.public__text {
    margin: 0 0 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #424242;
}

.longmb {
    margin: 0 0 150px;
}

.mainbtn-public {
    padding: 18px 79px;
}

@media only screen and (max-width:576px) {
    .public {
        padding: 0 0 80px;
    }

    .public__title {
        margin: 0;
        font-size: 25px;
        line-height: 34px;
    }

    .public__content {
        padding: 30px 0 40px;

        &:last-child {
            border-bottom: none;
        }
    }

    .bl {
        padding: 30px 0 40px;
        border-left: none;
    }

    .public__subtitle {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 140%;
    }

    .public__text {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 150%;
    }

    .mainbtn-public {
        width: 100%;
        padding: 18px 0;
        text-align: center;
    }
}